
*.vsidx
FlappyBirdGL/.vs/FlappyBirdGL/FileContentIndex/read.lock
FlappyBirdGL/.vs/FlappyBirdGL/v17/Browse.VC.db
FlappyBirdGL/.vs/FlappyBirdGL/v17/Browse.VC.db-shm
FlappyBirdGL/.vs/FlappyBirdGL/v17/Browse.VC.db-wal
FlappyBirdGL/.vs/FlappyBirdGL/v17/Browse.VC.opendb
